<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <script>
        window._rootPath = '<%= prefix ? prefix :'' %>/webapp';
    </script>
    <!-- nginx 映射兼容 -->
    <script src="<%= prefix ? prefix :'' %>/webapp/fui/js/cssboot-demo.js"></script>
    <link rel="stylesheet" href="<%= prefix ? prefix :'' %>/css/a.css">
    <% if(links && links.length) { %>
        <!--<% links.forEach( function (link) { %>
             <link rel ="stylesheet" href="<%= (prefix ? prefix :'') + link %>"> 
        <%}); %>-->
        <script>
            
            SrcBoot.output(["<%- links.join('","') %>"]);
        </script>
    <% } %>
    <!-- style -->
    <% if(style) { %>
        <style>
            <%- style %>
        </style>
    <% } %>
</head>
<body>
    <!-- demo html -->
    <%- html %>

    <script src="<%= prefix ? prefix :'' %>/webapp/fui/js/jsboot.js"></script>
    <% if(jss && jss.length) { %>
        <!-- <% jss.forEach( function (js) { %>
            <script src="<%= (prefix ? prefix :'') + js %>"></script>
        <%}); %> -->
        <script>
            SrcBoot.output(["<%- jss.join('","') %>"]);
        </script>

    <% } %>
    <script>
        <%- script %>
    </script>
</body>
</html>